//* <МИКСИНЫ>=====================================================================================================================
@import "_mixins";
//* </МИКСИНЫ>=====================================================================================================================


//* <ШРИФТЫ>======================================================================================================================
// <Подключаем шрифты>
//! &display=swap&subset=cyrillic-exit
// @import "_fonts";
// </Подключаем шрифты>

// <Шрифт по умолчанию>
$fontFamily: "";
// </Шрифт по умолчанию>
//* </ШРИФТЫ>=====================================================================================================================


//* <ПЕРЕМЕННЫЕ>==================================================================================================================
// Цвета
$black-color: #000;
$yellow-color: #ffe632;
$yellow-border-color: #ffe632;
//* </ПЕРЕМЕННЫЕ>==================================================================================================================


